<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GoodTimes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="title-crop">
                <a asp-area="" asp-controller="Home" asp-action="Index"><h1 class="title-layout">GoodTimes</h1></a>
            </div>
        </div>
    </header>
    <div class="nav-container">
        <br />
        <a class="nav-button" asp-area="" asp-controller="reserveringen" asp-action="Create">Nieuwe reservering</a>
        <a class="nav-button" asp-area="" asp-controller="reserveringen" asp-action="index">Reserveringsoverzicht</a>
        <a class="nav-button" asp-area="" asp-controller="reserveringen" asp-action="#">Nieuwe bestelling</a>
        <a class="nav-button" asp-area="" asp-controller="reserveringen" asp-action="#">Bestellingsoverzicht</a>
        <a class="nav-button" asp-area="" asp-controller="reserveringen" asp-action="#">Keukenoverzicht</a>
        <div class="dropdown">
            <a href="#" class="dropbtn dropdowna">Menukaart aanpassen</a>
                <div class="dropdown-content">
                    <a class="nav-button" asp-area="" asp-controller="menukaarten" asp-action="details" asp-route-id="3">Lunchkaart</a>
                    <a class="nav-button" asp-area="" asp-controller="menukaarten" asp-action="details" asp-route-id="1">Dineraart</a>
                    <a class="nav-button" asp-area="" asp-controller="menukaarten" asp-action="details" asp-route-id="2">Drankenkaart</a>
                </div>
        </div>
        <a class="nav-button" asp-area="" asp-controller="reserveringen" asp-action="#">Accountbeheer</a>
        <a class="uitlog-button" asp-area="Identity" asp-page="/Account/Logout">Uitloggen</a>
    </div>
    <div class="content-container">
        <div class="container">
            <main role="main" class="pb-3">
                <div class="welkom">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
