@model GoodTimes.Models.bon

@{
    ViewData["Title"] = "Details";
}

<div>
    <p>Tafelnummer: @Html.DisplayFor(model => model.Tafelnummer)</p>

    @foreach (var bon in ViewBag.bon as List<bon>)
    {
        @foreach (var item in ViewBag.bestelling as List<bestelling>)
        {
            @if (bon.Tafelnummer == item.Tafel)
            {
                <p>@item.Gerecht</p>
            }
        }
    }

    </div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
