@model GoodTimes.Models.bon

@{
    ViewData["Title"] = "Details";
}

<div id='printMe'>
    <p>Tafelnummer: @Html.DisplayFor(model => model.Tafelnummer)</p>

    @foreach (var bon in ViewBag.bon as List<bon>)
    {
        @foreach (var item in ViewBag.bestelling as List<bestelling>)
        {
            @if (bon.Tafelnummer == item.Tafel)
            {
                <p>@item.Gerecht</p>
            }
        }
    }
</div>
<button onclick="printDiv('printMe')">Print</button>
<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
		function printDiv(divName){
			var printContents = document.getElementById(divName).innerHTML;
			var originalContents = document.body.innerHTML;

			document.body.innerHTML = printContents;

			window.print();

			document.body.innerHTML = originalContents;

		}
</script>
