@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="welkom">
        <img src="~/img/GoodTimeslogo.png" />
        <p>Administratie systeem GoodTimes</p>
    </div>
</div>
