@model GoodTimes.Models.categorie

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>categorie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenukaartId" class="control-label"></label>
                <select asp-for="MenukaartId" class ="form-control" asp-items="ViewBag.MenukaartId"></select>
            </div>
            <div class="form-group">
                <label asp-for="volgeorde" class="control-label"></label>
                <input asp-for="volgeorde" class="form-control" />
                <span asp-validation-for="volgeorde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Categorie aanmaken" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
