@page
@model LogoutModel
@{
    ViewData["Title"] = "Uitloggen";
}

    <header>
        <h1>@ViewData["Title"]</h1>
        <p>je bent uitgelogd. ga naar <a asp-area="Identity" asp-page="/Account/login">inloggen</a> als je aan de slag wilt.</p>
    </header>