@model GoodTimes.Models.bestelling

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>bestelling</h4>
<hr />

<button onclick="myFunction()">Dinerkaart</button>
<div id="myDIV">
    Mark's kwark in samenwerking met Tamer's taarten
</div>
<button onclick="myFunction2()">Lunchkaart</button>
<div id="myDIV2">
    Mark's kwark in samenwerking met Tamer's taarten
</div>
<button onclick="myFunction3()">Drankenkaart</button>
<div id="myDIV3">
    Mark's kwark in samenwerking met Tamer's taarten
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Gerecht" class="control-label"></label>
                <input asp-for="Gerecht" class="form-control" />
                <span asp-validation-for="Gerecht" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aantal" class="control-label"></label>
                <input asp-for="Aantal" class="form-control" />
                <span asp-validation-for="Aantal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tafel" class="control-label"></label>
                <input asp-for="Tafel" class="form-control" />
                <span asp-validation-for="Tafel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tijd" class="control-label"></label>
                <input asp-for="Tijd" class="form-control" />
                <span asp-validation-for="Tijd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opmerking" class="control-label"></label>
                <textarea asp-for="Opmerking" class="form-control"></textarea>
                <span asp-validation-for="Opmerking" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Acties" /> @Html.DisplayNameFor(model => model.Acties)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function myFunction() {
            var x = document.getElementById("myDIV");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function myFunction2() {
            var x = document.getElementById("myDIV2");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        function myFunction3() {
            var x = document.getElementById("myDIV3");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
}