@model GoodTimes.Models.product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Omschrijving" class="control-label"></label>
                <textarea asp-for="Omschrijving" class="form-control"></textarea>
                <span asp-validation-for="Omschrijving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prijs" class="control-label"></label>
                <input asp-for="Prijs" class="form-control" />
                <span asp-validation-for="Prijs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volgorde" class="control-label"></label>
                <input asp-for="Volgorde" class="form-control" />
                <span asp-validation-for="Volgorde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="categorieId" class="control-label"></label>
                <select asp-for="categorieId" class ="form-control" asp-items="ViewBag.categorieId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Product toevoegen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
